<section>
    <!-- <p>{{ jogo.titulo }}</p>
    <p>{{ jogo.descricao }}</p>
    <p>{{ jogo.ano }}</p>
    <p>{{ jogo.autores | json }}</p>
    <p>{{ jogo.generos | json }}</p>

    <h2>{{ jogo._id }}</h2>

    <button [routerLink]="['/jogos/edicao']" [queryParams]="{ id: jogo._id }">Editar</button>
    <button (click)="apagar(jogo._id)">Apagar</button> -->

    <h1 class="text-center mt-3">Jogos</h1>

    <div class="row justify-content-center">
        <app-jogos-lista-item (apagarEvent)="apagar($event)" *ngFor="let jogo of jogos" class="col-xs-1 col-md-3" [jogo]="jogo"></app-jogos-lista-item>
    </div>

    <button class="btn btn-info btn-lg" [routerLink]="['/jogos/registro']">Novo Jogo</button>

</section>