<div class="card text-white bg-primary mb-3 mt-4" style="max-width: 20rem;">
    <div class="card-header">NES</div>
    <div class="card-body">
        <h4 class="card-title">{{ jogo.titulo }}</h4>
        <img class="imagem" [attr.src]="imageToShow" *ngIf="imageToShow">
        <p class="card-text">{{ jogo.descricao }}</p>
        <p><strong>Ano: </strong>{{ jogo.ano }}</p>
        <p><strong>Autores: </strong><span *ngFor="let autor of jogo.autores">{{ autor }}</span></p>
        <p><strong>Gêneros: </strong><span *ngFor="let genero of jogo.generos">{{ genero }}</span></p>
    </div>
    <div class="card-footer text-center">
        <button [routerLink]="['/jogos/edicao']" [queryParams]="{ id: jogo._id }"
            class="btn btn-outline-warning btn-sm">Editar</button>
        <button class="btn btn-outline-info btn-sm">Comentar</button>
        <button (click)="apagar(jogo._id)" class="btn btn-outline-danger btn-sm">Apagar</button>
    </div>
</div>