<section>
  <h1 class="text-center mt-3">Editar jogo</h1>

  <div class="form-group has-success has-danger">

    <form [formGroup]="editaJogoForm" (ngSubmit)="onSubmit()">

      <fieldset>
        <label class="form-label mt-4" for="titulo">Titulo</label>
        <input [ngClass]="{ 
            'is-invalid': !editaJogoForm.controls.titulo.valid
            && editaJogoForm.controls.titulo.touched, 
            'is-valid': editaJogoForm.controls.titulo.valid 
          }" class="form-control" id="titulo" type="text" formControlName="titulo">
        <div class="invalid-feedback">Insira um título.</div>
      </fieldset>

      <fieldset>
        <label class="form-label mt-4" for="descricao">Descrição</label>
        <textarea [ngClass]="{ 
            'is-invalid': !editaJogoForm.controls.descricao.valid
            && editaJogoForm.controls.descricao.touched, 
            'is-valid': editaJogoForm.controls.descricao.valid 
          }" class="form-control" id="descricao" type="text" formControlName="descricao" rows="5"></textarea>
        <div class="invalid-feedback">Insira uma descrição.</div>
      </fieldset>

      <fieldset>
        <label for="ano" class="form-label mt-4">Ano</label>
        <input [ngClass]="{
         'is-invalid': !editaJogoForm.controls.ano.valid
         && editaJogoForm.controls.ano.touched,
         'is-valid': editaJogoForm.controls.ano.valid 
        }" class="form-control" id="ano" type="number" formControlName="ano">
        <div class="invalid-feedback">Insira um ano valido.</div>
      </fieldset>

      <fieldset>
        <label class="form-label mt-4" for="autores">Autores</label>
        <input [ngClass]="{ 
            'is-invalid': !editaJogoForm.controls.autores.valid
            && editaJogoForm.controls.autores.touched, 
            'is-valid': editaJogoForm.controls.autores.valid 
          }" class="form-control" id="autores" type="text" formControlName="autores">
        <div class="invalid-feedback">Insira pelo menos um autor.</div>
      </fieldset>

      <fieldset>
        <label class="form-label mt-4" for="generos">Gêneros</label>
        <input [ngClass]="{ 
              'is-invalid': !editaJogoForm.controls.generos.valid
              && editaJogoForm.controls.generos.touched, 
              'is-valid': editaJogoForm.controls.generos.valid 
            }" class="form-control" id="generos" type="text" formControlName="generos">
        <div class="invalid-feedback">Insira pelo menos um gênero.</div>
      </fieldset>

      <fieldset>
        <label class="form-label mt-4" for="capas">Capa: </label>
        <input type="file" class="form-control" id="capas" accept="image/*" (change)="onImagemMudada($event)">
      </fieldset>   

      <div class="d-grid gap-2">
        <button class="btn btn-success btn-lg" [disabled]="!editaJogoForm.valid">Editar</button>
      </div>

    </form>

  </div>
</section>